.favorite-index {
  position: fixed;
  left: 75px;
  width: 0px;
  background-color: white;
  border: 1px solid #ececec;
  height: 100%;
  z-index: 3;
  overflow-x: hidden;
  transition: 0.5s;
}

.favorite-index .note-index-header {
  height: 123px;
}
