.title {
  font-size: 28px;
  color: #37bc58;
}

.header {
  font-size: 16px;
  color: #37bc58;
}

h1 {
  font-size: 32px;
  color: gray;
}

.btn {
  font-size: 16px;
  color: white;
  background-color: #37bc58;
  margin: 0px;
}

.input {
  font-size: 16px;
  color: gray;
}
