.title {
  font-size: 28px;
  color: #37bc58;
}

.header {
  font-size: 16px;
  color: #37bc58;
}

h1 {
  font-size: 32px;
  color: gray;
}

h2 {
  font-size: 21px;
  color: gray;
}

h3 {
  font-size: 20px;
  color: darkgray
}

h4 {
  font-size: 12px;
  color: gray;
}

h5 {
  font-size: 12px;
  color: lightgray;
}

.btn {
  font-size: 16px;
  color: white;
  background-color: #37bc58;
  margin: 0px;
}

.input {
  font-size: 16px;
  color: gray;
}
