.title {
  font-size: 28px;
  color: #a0a0a0;
}

.header {
  font-size: 16px;
  color: #a0a0a0;
}

h1 {
  font-size: 32px;
  color: gray;
}

h2 {
  font-size: 21px;
  color: gray;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  color: black;
}

h4 {
  font-size: 12px;
  color: #a0a0a0;
  letter-spacing: 0.5px;
}

h5 {
  font-size: 12px;
  color: #ececec;
}

h6 {
  font-size: 16px;
  color: darkgray;
}

input[class*="-btn"], button[class*="-btn"] {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  width: 200px;
  margin: 0px 4px;
  border-radius: 5px;
  padding: 7px;
  text-align: center;
}

.demo:hover {
  background-color: #483D8B;
}


.cancel-btn {
  color: darkgray;
  background-color: white;
  background-color: #ececec;
  color: darkgray;

}

.submit-btn {
  background-color: #577d8b;
  opacity: 0.75;
  color: white;
  cursor: pointer;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
