.landing {
  background-color: blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movable {
  background-color: red;
  width: 400px;
  height: 700px;
  position: relative;
  transition: left 0.5s linear;
  overflow: hidden;
}

@keyframes bounceRight {
  0% { left: 5%; }
  50% { left: calc(100% - 400px); }
  100% { left: calc(95% - 400px); }
}

@keyframes bounceLeft {
  0% { left: calc(95% - 400px); }
  50% { left: 0%; }
  100% { left: 5%; }
}

.left {
  animation: bounceLeft 1s forwards;
}

.right {
  animation: bounceRight 1s forwards;
}

.login-form {
  position: absolute;
  left: 0px;
  transition: left 0.5s linear;
}

.signup-form {
  position: absolute;
  left: 400%;
  transition: left 0.5s linear;
}

.change-form {
  position: relative;
  transition: left 0.5s linear;

}

// .fade {
//   height: 100%;
//   width: 100%;
//   background-color: white;
//   position: absolute;
//   z-index: -1;
//   opacity: 0;
//   transition: opacity 0.25s ease-in-out;
// }

.displayForm {
  z-index: 1;
}
