.landing {
  background-color: blue;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movable {
  background-color: red;
  width: 500px;
  height: 700px;
  position: relative;
  transition: left 0.5s linear;

}

.left {
  left: 5%
}

.right {
  left: calc(95% - 500px);
}
