.landing {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('landing_background.jpg');
  background-size: auto 100%;
}

.movable {
  background-color: white;
  width: 400px;
  height: 700px;
  position: relative;
  transition: left 0.5s linear;
  overflow: hidden;
  text-align: center;
}

@keyframes bounceRight {
  0% { left: 5%; }
  50% { left: calc(100% - 400px); }
  100% { left: calc(95% - 400px); }
}

@keyframes bounceLeft {
  0% { left: calc(95% - 400px); }
  50% { left: 0%; }
  100% { left: 5%; }
}

.left {
  animation: bounceLeft 1s forwards;
}

.right {
  animation: bounceRight 1s forwards;
}

.login-form {
  position: absolute;
  left: 0px;
  transition: left 0.5s linear;
}

.signup-form {
  position: absolute;
  left: 400%;
  transition: left 0.5s linear;
}

.change-form {
  position: relative;
  transition: left 0.5s linear;

}

.displayForm {
  z-index: 1;
}

.change-form.btn {
  margin: auto;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-around;
  background-color: #4a4b66;
  color: white;
  height: 40px;
}
