// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create-notebook {

  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  min-height: 100%;
  z-index: 200;
  background-color: white;
  justify-content: center;
  padding: 150px 0px;
  display: none;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

.notebook-title input {
  border: none;
  color: darkgray;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  outline: none;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.notebook-item {
  cursor: pointer;
}

.notebook-item {
  cursor: pointer;
}
