.note-index {
  position: fixed;
  left: 75px;
  width: 350px;
  background-color: white;
  height: 100%;
  z-index: 2;
}

.note-index-header {
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: #855c9e
}

.note-index h2, .favorite-index h2{
  padding: 20px 0px;
  color: white;
}
.note-index h4:first-child, .favorite-index h4:first-child {
  color: white;
}

.note-index h4, .favorite-index h4:first-child {
  color: #ccc;
}

.note-list {
  height: calc(100% - 123px);
  overflow-y: scroll;
}

.noteslist-footer {
  display: flex;
  justify-content: space-between;
}

.note-list li {
  border-top: 0.5px solid lightgray;
  border-bottom: 0.5px solid lightgray;
}

.notes-dropdown {
  position: absolute;
  right: 0px;
  top: 60px;
}
