.notebook-title input {
  border: none;
  color: darkgray;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  outline: none;
  font-size: 20px;
  letter-spacing: 1.3px;
  width: 100%;
}

.notebook-form {
  text-align: center;
  width: 50%;
}


.adj-buttons {
  display: flex;
  margin: 20px;
}

.notebook-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #1dba60;
  border: none;
  margin: 30px 40px;
  outline: none;
  display: flex;
  justify-content: center;
}

.notebook-dropdown {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: green;
}

.select_items {
  background-color: gray;
  font-size: 30px;
}

.note-action-btn {
  display: block;
  position: fixed;
  right: 10px;
  top: 18px;
  text-align: left;
}

.new-note-header {
  height: 25px;
}
