.embedded-photos {
  width: 100px;
  height: 100px;
}

input[type="file"], .gray{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: -25px;
  font-size: 30px;
  top: -10px;
}

.custom-file-upload {
  position: absolute;
  top: 185px;
  right: 80px;
  display: inline-block;
  padding: 6px 12px;
  width: 10px;
  height: 15px;
  background-image: image-url("upload_icon.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.custom-file-upload-gray {
  position: absolute;
  top: 185px;
  right: 80px;
  display: inline-block;
  padding: 6px 12px;
  width: 10px;
  height: 15px;
  background-image: image-url("upload_icon_gray.png");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}



::-webkit-file-upload-button { cursor:pointer; }
