// Place all the styles related to the Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#create-notebook {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  z-index: 200;
  background-color: white;
  justify-content: center;
  padding: 150px 0px;
  display: none;
}

.notebook-title input {
  border: none;
  color: darkgray;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  outline: none;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.notebook-form .notebook-title {
  margin: 20px;
  width: 100%;
  text-align: center;
}

.notebook-item {
  cursor: pointer;
}

.notebook-inner {
  width: 435px;
}

a {
  padding: 0px;
}

.notebook-title-create{
  position: relative;
  left: -20px;
}

.list-item {
  color: black;
}

.list-item h5 {
  padding-top: 10px;
  color: #ececec;
}

.notebook-inner h2{
  position: absolute;
  top: 0px;
  padding: 20px;
}
