.list-item {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  border-top: 0.5px solid #ececec;
  box-sizing: border-box;
}

.list-item:hover, .list-item:hover h3, .list-item:hover h4, .list-item:hover h5{
  background-color: #32bf6b;
  color: white;
  border: none;
}
