.new-note{
  width: calc(100% - 425px);
}

.notebook-title input {
  border: none;
  color: darkgray;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  outline: none;
  font-size: 20px;
  letter-spacing: 1.3px;
  width: 100%;
}

.notebook-form {
  text-align: center;
  width: 50%;
  padding-right: 3%;
  height: 100%;
}

.new-note textarea{
  width: 100%;
  padding-right: 10%;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}


.adj-buttons {
  display: flex;
  margin: 20px;
}

.notebook-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #1dba60;
  border: none;
  margin: 30px 40px;
  outline: none;
  display: flex;
  justify-content: center;
}

.notebook-dropdown {
  margin: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: green;
}

.select_items {
  background-color: gray;
  font-size: 30px;
}

.note-action-btn {
  display: block;
  position: fixed;
  right: 10px;
  top: 18px;
  text-align: left;
}

.new-note-header {
  height: 25px;
}

.form-group {
  height: 100%
}

.new-note-form {
  height: 100%;
}

.form-group .ql-toolbar {
  opacity: 0.5;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;}

.form-group .ql-editor {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

.form

.form-group .note-title {
  width: 90%;
}
