#search-form {
  position: absolute;
  left: 75px;
  width: 0px;
  min-height: 100%;
  overflow-x: hidden;
  z-index: 4;
  background-color: white;
  justify-content: center;
  transition: 0.5s;
}

.search-input {
  left: 150px;
  top: 150px;
  position: relative;
  border: none;
  font-size: 40px;
  border-bottom: 1px solid lightgray;
  width: 800px;
}

.search-input:focus {
  outline-width: 0;
}

.search-list {
  position: relative;
  left: 150px;
  top: 240px;
  width: 800px;
}

.search-item a{
  display: block;
  padding: 20px 0px;
  cursor: pointer;
  width: 100%;
}

.search-item a:hover {
  text-decoration: none;
}

.search-item a{
  color: black;
}

.search-item:hover {
  background-color: #82abae3b;
}

.search-item:hover a {
  color: #82abae;
}
