body {
  background-color: #f3f3f3;
}

.session-title {
  margin: auto;
  text-align: center;
  margin: 25px 0px;

}

.session-form {
  // background-color: white;
  width: 400px;
  margin: auto;
  // border: 1px solid lightgray;
  // border: 1px solid white;
  padding: 30px 0px;
}

.session-form input {
  display: flex;
  margin: auto;
  // border-radius: 7px;
  border-bottom: lightgray 1px solid;
  background-color: white;
  border: none;
  padding: 9.5px 12px;
  width: 300px;
  justify-content: center;
  background-color: none;
}

.session-form input.session-submit {
  background-color: #849da9;
}

.session-input, .password-input {
  border: 1px solid gray;
}

.session-form .demo{
  display: flex;
  margin: auto;
  border-radius: 7px;
  // border: 1px solid lightgray;
  padding: 9.5px 12px;
  width: 300px;
  margin-top: 20px;
  width: 75%;
  justify-content: center;
}

.favorite-index .note-index-header{
  background-color: #5c63aa;
}

.session-form .session-submit, .session-form .demo {
  width: 82%;
}

.session-submit:hover {
  background-color: #5e267b;
}

.session-footer {
  margin: 30px;
  text-align: center;
  line-height: 2;
}

.errors {
  color: red;
  padding: 10px 40px 0px 40px;
}

.session-link {
  font-size: 18px;
  font-weight: 200;
  // color: #24914a;
  margin-top: 5px;
}

.sidebar-bottom {
  position: fixed;
  bottom: 0px;
  left: 8px;
}

.session-submit {
  background-color: #576f82;
  color: white;
}
