body {
  background-color: #f3f3f3;
}

.session-title {
  margin: auto;
  text-align: center;
  margin: 25px 0px;

}

.session-form {
  background-color: white;
  width: 400px;
  margin: auto;
  border: 1px solid lightgray;
  padding: 30px 0px;
}

.session-form input {
  display: flex;
  margin: auto;
  border-radius: 7px;
  border: 1px solid lightgray;
  padding: 9.5px 12px;
  width: 300px;
  justify-content: center;
}

.session-form .demo{
  display: flex;
  margin: auto;
  border-radius: 7px;
  border: 1px solid lightgray;
  padding: 9.5px 12px;
  width: 300px;
  margin-top: 20px;
  width: 75%;
  justify-content: center;
}



.session-submit {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  color: white;
  border-color: #1fae52;
  text-align: center;
}

.session-submit:hover {
  background-color: #24914a;
}

.session-footer {
  margin: 30px;
  text-align: center;
}

.errors {
  color: red;
}
