.sidebar {
  height: 100%;
  width: 78px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #484c65;
  padding-top: 20px;
  overflow: hidden;
  font-size: 10px;
  margin: auto;
  text-align: center;
}

.sidebar-bottom a {
  color: white;
}

.button-list {
  padding: 20px 0px;
}

.sidebar > bottom {
  bottom: 80px;
}

.button-list div {
  color: white;
  display: flex;
  height: 30px;
  width: 30px;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  transition: background-color 1s ease;
  border-radius: 10%;
  flex-wrap: wrap;
  justify-content: center;
}

.button-list div:hover {
  color: white;
  background-color: #333649;
}

.button-list a {
  text-decoration: none;
}

.sidebar-bottom {
  width: 60px;
  font-size: 8px;
}

.button-list .selected, .button-list .selected:hover {
  color: #5c7c8c;
  background-color: white;
}

// .new-note-btn, .notes-btn, .new-note-btn:hover, .notes-btn:hover {
//   border: 2px solid #484c65;
// }

.new-note-btn.selected, .notes-btn.selected, .new-note-btn.selected:hover, .notes-btn.selected:hover  {
  color: white;
  background-color: #84acae;
}
