.toolbar {
  width: 80px;
  height: 40px;
  color: green;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.fa-trash-o:before {
  font-size: 25px;
  color: lightgray;
}

.fa-star:before {
  font-size: 25px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

#note-document .fa-star:before {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: lightgray;
}

.favorite-item.fa-star:before{
  -webkit-text-fill-color: darkgreen;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: darkgreen;
}
