.toolbar {
  width: 80px;
  height: 40px;
  color: lightgray;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.new-note-header .toolbar:hover{
  color: lightgray;
}

.trash {
  font-size: 25px;
  color: lightgray;
}

.trash:hover {
  color: red;
}

.favorite-item{
  color: #577d8b;
}

.thumbnail-photo {
  position: absolute;
  height: 50px;
  width: auto;
  right: 10px;
  bottom: 10px;
}
