.toolbar {
  width: 80px;
  height: 40px;
  color: lightgray;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.new-note-header .toolbar:hover{
  color: lightgray;
}

.trash {
  font-size: 25px;
}

.trash:hover {
  color: #eac0c0;
}


.favorite:hover{
  color: #c0d7ea;
}

.favorite-item, .favorite-item:hover{
  color: #577d8b;
}


.thumbnail-photo {
  position: absolute;
  height: 50px;
  width: auto;
  right: 10px;
  bottom: 10px;
}
